html
{
	padding: 0;
	margin: 0;
}

button{
	border-radius: 5px;
	margin: .2em;
}

.fit
{
	max-width: 100%;
	max-height: 100%;
}

.center
{
	display: block;
	margin: auto;
}

.mapArea
{
	margin: 0px auto 0px auto;
	padding: 0px;
	border-width: 0px;
	vertical-align: top;
	position: relative;
}

.captainImage{
	height: 200px;
	width: auto;
}

.tint{
	overflow: hidden;
	height: 100%;
	z-index: 2;
}

.tint .red{
	background: rgba(255, 0, 0, 0.3);
}

.tint .orange{
	background: rgba(253, 145, 21, 0.3);
}

.tint .yellow{
	background: rgba(255,255,0,0.3);
}

.tint .green{
	background: rgba(0, 255, 0, 0.3);
}

.tint .blue{
	background: rgba(0, 0, 255, 0.3);
}

.tint .purple{
	background: rgba(191, 63, 163, 0.3));
}

.patriot{
	background: url(/images/captain-andrew-haraden-the-rogue-annisquam.png) 0 0 no-repeat fixed;
}

.brave{
	background: url(/images/captain-chief-masconomet-the-brave-wingaersheek.png) 0 0 no-repeat fixed;
}

.dice, .armymen{
	text-align: center;
}

.die{
	width: 40px;
	height: auto;
}

#redDice{
	position: absolute;
	top: 500px;
	left: 400px;
}

#whiteDice{
	position: absolute;
	top: 500px;
	left: 800px;
}

#gameInfo{
	text-align: center;
}

.showMoves{
	border: thin solid black;
	border-radius: 5px;
	background-color: white;
	text-align: center;
	padding: 5px;
}



.prompt{
	border: medium solid black;
	border-radius: 10px;
	background-color: white;
	z-index: 1;
	position: absolute;
	text-align: center;
	width: 150px;
}

.battle{
	margin-top: 20px;
}

.cannon{
	width: 36px;
	height: auto;
}

.soldier{
	height: 22px; 
	width: auto;
}

.captain{
	height: 36px;
	width: auto;
}

.serpent{
	width: 125px;
	height: auto;
	margin-right: 50px;
}


.army, .battle{
	position: absolute;
	z-index: 0;
}

#army-conomopoint{
	left: 1%;
	top: 24.5%;
}

#army-northwestterritory{
	left: 13%;
	top: 27.5%;
}

#army-twopennyloaf{
	left: 21%;
	top: 17.5%;
}

#army-wingaersheek{
	left: 28.8%;
	top: 25.5%;
}

#army-redrocks{
	left: 1.5%;
	top: 44.5%;
}

#army-westparrish{
	left: 11.5%;
	top: 39.5%;
}

#army-rustisland{
	left: 20.5%;
	top: 39.5%;
}

#army-mountann{
	left: 2%;
	top: 58.5%;
}

#army-fernwood{
	left: 21%;
	top: 54%;
}

#army-coolidgepoint{
	left: 1.5%;
	top: 72.5%;
}

#army-ravenswood{
	left: 13%;
	top: 64%;
}

#army-stagefortpark{
	left: 27%;
	top: 62%;
}

#army-magnolia{
	left: 10%;
	top: 77.5%;
}

#army-hammondcastle{
	left: 21%;
	top: 71%;
}

#army-annisquam{
	left: 48%;
	top: 21%;
}

#army-bayview{
	left: 54.5%;
	top: 15.5%;
}

#army-lanesville{
	left: 61%;
	top: 11%;
}

#army-halibutpoint{
	left: 70%;
	top: 7.7%;
}

#army-pigeonhill{
	left: 70.5%;
	top: 20%;
}

#army-dogtown{
	left: 58%;
	top: 27%;
}

#army-riverdale{
	left: 43.7%;
	top: 40%;
}

#army-wheelerspoint{
	left: 36.6%;
	top: 44%;
}

#army-blackburnpark{
	left: 50%;
	top: 46%;
}

#army-raccoonrock{
	left: 59%;
	top: 40%;
}

#army-pooleshill{
	left: 66.5%;
	top: 34.5%;
}

#army-bearskinneck{
	left: 73%;
	top: 34.5%;
}

#army-gaphead{
	left: 80%;
	top: 37.5%;
}

#army-landsend{
	left: 79.5%;
	top: 48%;
}

#army-thatcherisland{
	left: 92%;
	top: 58.5%;
}

#army-capepond{
	left: 64%;
	top: 46.5%;
}

#army-longbeach{
	left: 70%;
	top: 51.5%;
}

#army-goodharborbeach{
	left: 59%;
	top: 58%;
}

#army-portageehill{
	left: 48.5%;
	top: 53.7%;
}

#army-cityhall{
	left: 42%;
	top: 54%;
}

#army-thefort{
	left: 37.5%;
	top: 57.5%;
}

#army-statefishpier{
	left: 50%;
	top: 62.5%;
}

#army-bassrocks{
	left: 55%;
	top: 69.5%;
}

#army-rockyneck{
	left: 49%;
	top: 72%;
}

#army-easternpoint{
	left: 41%;
	top: 84%;
}

#army-water1{
	left: 6%;
	top: 12%;
}

#army-water2{
	left: 13%;
	top: 1%;
}

#army-water3{
	left: 21%;
	top: 2%;
}

#army-water4{
	left: 29.5%;
	top: 4.5%;
}

#army-water5{
	left: 30%;
	top: 13%;
}

#army-water6{
	left: 46%;
	top: 6%;
}

#army-water7{
	left: 40%;
	top: 15%;
}

#army-water8{
	left: 60%;
	top: 0.5%;
}

#army-water9{
	left: 78%;
	top: 0.2%;
}

#army-water10{
	left: 84%;
	top: 1.5%;
}

#army-water11{
	left: 92%;
	top: 12%;
}

#army-water12{
	left: 83.5%;
	top: 12%;
}

#army-water13{
	left: 77.5%;
	top: 17%;
}

#army-water14{
	left: 83%;
	top: 27%;
}

#army-water15{
	left: 93.5%;
	top: 32%;
}

#army-water16{
	left: 93.5%;
	top: 48.5%;
}

#army-water17{
	left: 72.5%;
	top: 59.5%;
}

#army-water18{
	left: 82%;
	top: 61.5%;
}

#army-water19{
	left: 88.5%;
	top: 69%;
}

#army-water20{
	left: 93%;
	top: 73.5%;
}

#army-water21{
	left: 64%;
	top: 66.5%;
}

#army-water22{
	left: 68%;
	top: 78%;
}

#army-water23{
	left: 78.5%;
	top: 76%;
}

#army-water24{
	left: 77%;
	top: 89%;
}

#army-water25{
	left: 86%;
	top: 87%;
}

#army-water26{
	left: 59.5%;
	top: 75%;
}

#army-water27{
	left: 48%;
	top: 85.5%;
}

#army-water28{
	left: 59%;
	top: 91.5%;
}

#army-water29{
	left: 10%;
	top: 89%;
}

#army-water30{
	left: 17%;
	top: 87%;
}

#army-water31{
	left: 25%;
	top: 85.3%;
}

#army-water32{
	left: 29%;
	top: 79%;
}

#army-water33{
	left: 34%;
	top: 68%;
}

#army-water34{
	left: 31.5%;
	top: 56.5%;
}

#army-water35{
	left: 31%;
	top: 38%;
}

#army-water36{
	left: 1%;
	top: 1%;
}

#army-water37{
	left: 92.5%;
	top: 1.5%;
}

#army-water38{
	left: 1.5%;
	top: 90.5%;
}

#army-water39{
	left: 93%;
	top: 89%;
}

#battle-conomopoint{
	left: 1%;
	top: 24.5%;
}

#battle-northwestterritory{
	left: 13%;
	top: 27.5%;
}

#battle-twopennyloaf{
	left: 21%;
	top: 17.5%;
}

#battle-wingaersheek{
	left: 28.8%;
	top: 25.5%;
}

#battle-redrocks{
	left: 1.5%;
	top: 44.5%;
}

#battle-westparrish{
	left: 11.5%;
	top: 39.5%;
}

#battle-rustisland{
	left: 20.5%;
	top: 39.5%;
}

#battle-mountann{
	left: 2%;
	top: 58.5%;
}

#battle-fernwood{
	left: 21%;
	top: 54%;
}

#battle-coolidgepoint{
	left: 1.5%;
	top: 72.5%;
}

#battle-ravenswood{
	left: 13%;
	top: 64%;
}

#battle-stagefortpark{
	left: 27%;
	top: 62%;
}

#battle-magnolia{
	left: 10%;
	top: 77.5%;
}

#battle-hammondcastle{
	left: 21%;
	top: 71%;
}

#battle-annisquam{
	left: 48%;
	top: 21%;
}

#battle-bayview{
	left: 54.5%;
	top: 15.5%;
}

#battle-lanesville{
	left: 61%;
	top: 11%;
}

#battle-halibutpoint{
	left: 70%;
	top: 7.7%;
}

#battle-pigeonhill{
	left: 70.5%;
	top: 20%;
}

#battle-dogtown{
	left: 58%;
	top: 27%;
}

#battle-riverdale{
	left: 43.7%;
	top: 40%;
}

#battle-wheelerspoint{
	left: 36.6%;
	top: 44%;
}

#battle-blackburnpark{
	left: 50%;
	top: 46%;
}

#battle-raccoonrock{
	left: 59%;
	top: 40%;
}

#battle-pooleshill{
	left: 66.5%;
	top: 34.5%;
}

#battle-bearskinneck{
	left: 73%;
	top: 34.5%;
}

#battle-gaphead{
	left: 80%;
	top: 37.5%;
}

#battle-landsend{
	left: 79.5%;
	top: 48%;
}

#battle-thatcherisland{
	left: 92%;
	top: 58.5%;
}

#battle-capepond{
	left: 64%;
	top: 46.5%;
}

#battle-longbeach{
	left: 70%;
	top: 51.5%;
}

#battle-goodharborbeach{
	left: 59%;
	top: 58%;
}

#battle-portageehill{
	left: 48.5%;
	top: 53.7%;
}

#battle-cityhall{
	left: 42%;
	top: 54%;
}

#battle-thefort{
	left: 37.5%;
	top: 57.5%;
}

#battle-statefishpier{
	left: 50%;
	top: 62.5%;
}

#battle-bassrocks{
	left: 55%;
	top: 69.5%;
}

#battle-rockyneck{
	left: 49%;
	top: 72%;
}

#battle-easternpoint{
	left: 41%;
	top: 84%;
}

#battle-water1{
	left: 6%;
	top: 12%;
}

#battle-water2{
	left: 13%;
	top: 1%;
}

#battle-water3{
	left: 21%;
	top: 2%;
}

#battle-water4{
	left: 29.5%;
	top: 4.5%;
}

#battle-water5{
	left: 30%;
	top: 13%;
}

#battle-water6{
	left: 46%;
	top: 6%;
}

#battle-water7{
	left: 40%;
	top: 15%;
}

#battle-water8{
	left: 60%;
	top: 0.5%;
}

#battle-water9{
	left: 78%;
	top: 0.2%;
}

#battle-water10{
	left: 84%;
	top: 1.5%;
}

#battle-water11{
	left: 92%;
	top: 12%;
}

#battle-water12{
	left: 83.5%;
	top: 12%;
}

#battle-water13{
	left: 77.5%;
	top: 17%;
}

#battle-water14{
	left: 83%;
	top: 27%;
}

#battle-water15{
	left: 93.5%;
	top: 32%;
}

#battle-water16{
	left: 93.5%;
	top: 48.5%;
}

#battle-water17{
	left: 72.5%;
	top: 59.5%;
}

#battle-water18{
	left: 82%;
	top: 61.5%;
}

#battle-water19{
	left: 88.5%;
	top: 69%;
}

#battle-water20{
	left: 93%;
	top: 73.5%;
}

#battle-water21{
	left: 64%;
	top: 66.5%;
}

#battle-water22{
	left: 68%;
	top: 78%;
}

#battle-water23{
	left: 78.5%;
	top: 76%;
}

#battle-water24{
	left: 77%;
	top: 89%;
}

#battle-water25{
	left: 86%;
	top: 87%;
}

#battle-water26{
	left: 59.5%;
	top: 75%;
}

#battle-water27{
	left: 48%;
	top: 85.5%;
}

#battle-water28{
	left: 59%;
	top: 91.5%;
}

#battle-water29{
	left: 10%;
	top: 89%;
}

#battle-water30{
	left: 17%;
	top: 87%;
}

#battle-water31{
	left: 25%;
	top: 85.3%;
}

#battle-water32{
	left: 29%;
	top: 79%;
}

#battle-water33{
	left: 34%;
	top: 68%;
}

#battle-water34{
	left: 31.5%;
	top: 56.5%;
}

#battle-water35{
	left: 31%;
	top: 38%;
}

#battle-water36{
	left: 1%;
	top: 1%;
}

#battle-water37{
	left: 92.5%;
	top: 1.5%;
}

#battle-water38{
	left: 1.5%;
	top: 90.5%;
}

#battle-water39{
	left: 93%;
	top: 89%;
}
/*
.conomopoint{
	left: 1%;
	top: 24.5%;
}

.northwestterritory{
	left: 13%;
	top: 27.5%;
}

.twopennyloaf{
	left: 21%;
	top: 17.5%;
}

.wingaersheek{
	left: 28.8%;
	top: 25.5%;
}

.redrocks{
	left: 1.5%;
	top: 44.5%;
}

.westparrish{
	left: 11.5%;
	top: 39.5%;
}

.rustisland{
	left: 20.5%;
	top: 39.5%;
}

.mountann{
	left: 2%;
	top: 58.5%;
}

.fernwood{
	left: 21%;
	top: 54%;
}

.coolidgepoint{
	left: 1.5%;
	top: 72.5%;
}

.ravenswood{
	left: 13%;
	top: 64%;
}

.stagefortpark{
	left: 27%;
	top: 62%;
}

.magnolia{
	left: 10%;
	top: 77.5%;
}

.hammondcastle{
	left: 21%;
	top: 71%;
}

.annisquam{
	left: 48%;
	top: 21%;
}

.bayview{
	left: 54.5%;
	top: 15.5%;
}

.lanesville{
	left: 61%;
	top: 11%;
}

.halibutpoint{
	left: 70%;
	top: 7.7%;
}

.pigeonhill{
	left: 70.5%;
	top: 20%;
}

.dogtown{
	left: 58%;
	top: 27%;
}

.riverdale{
	left: 43.3%;
	top: 40%;
}

.wheelerspoint{
	left: 36%;
	top: 44%;
}

.blackburnpark{
	left: 50%;
	top: 46%;
}

.raccoonrock{
	left: 59%;
	top: 40%;
}

.pooleshill{
	left: 66.5%;
	top: 34.5%;
}

.bearskinneck{
	left: 73%;
	top: 34.5%;
}

.gaphead{
	left: 80%;
	top: 37.5%;
}

.landsend{
	left: 79.5%;
	top: 48%;
}

.thatcherisland{
	left: 92%;
	top: 58.5%;
}

.capepond{
	left: 64%;
	top: 46.5%;
}

.longbeach{
	left: 70%;
	top: 51.5%;
}

.goodharborbeach{
	left: 59%;
	top: 58%;
}

.portageehill{
	left: 48.5%;
	top: 53.7%;
}

.cityhall{
	left: 41%;
	top: 54%;
}

.thefort{
	left: 37.5%;
	top: 57.5%;
}

.statefishpier{
	left: 50%;
	top: 62.5%;
}

.bassrocks{
	left: 55%;
	top: 69.5%;
}

.rockyneck{
	left: 49%;
	top: 72%;
}

.easternpoint{
	left: 41%;
	top: 84%;
}

.water1{
	left: 6%;
	top: 12%;
}

.water2{
	left: 13%;
	top: 1%;
}

.water3{
	left: 21%;
	top: 2%;
}

.water4{
	left: 29.5%;
	top: 4.5%;
}

.water5{
	left: 30%;
	top: 13%;
}

.water6{
	left: 46%;
	top: 6%;
}

.water7{
	left: 40%;
	top: 15%;
}

.water8{
	left: 60%;
	top: 0.5%;
}

.water9{
	left: 78%;
	top: 0.2%;
}

.water10{
	left: 84%;
	top: 1.5%;
}

.water11{
	left: 92%;
	top: 12%;
}

.water12{
	left: 83.5%;
	top: 12%;
}

.water13{
	left: 77.5%;
	top: 17%;
}

.water14{
	left: 83%;
	top: 27%;
}

.water15{
	left: 93.5%;
	top: 32%;
}

.water16{
	left: 93.5%;
	top: 48.5%;
}

.water17{
	left: 72.5%;
	top: 59.5%;
}

.water18{
	left: 82%;
	top: 61.5%;
}

.water19{
	left: 88.5%;
	top: 69%;
}

.water20{
	left: 93%;
	top: 73.5%;
}

.water21{
	left: 64%;
	top: 66.5%;
}

.water22{
	left: 68%;
	top: 78%;
}

.water23{
	left: 78.5%;
	top: 76%;
}

.water24{
	left: 77%;
	top: 89%;
}

.water25{
	left: 86%;
	top: 87%;
}

.water26{
	left: 59.5%;
	top: 75%;
}

.water27{
	left: 48%;
	top: 85.5%;
}

.water28{
	left: 59%;
	top: 91.5%;
}

.water29{
	left: 10%;
	top: 89%;
}

.water30{
	left: 17%;
	top: 87%;
}

.water31{
	left: 25%;
	top: 85.3%;
}

.water32{
	left: 29%;
	top: 79%;
}

.water33{
	left: 34%;
	top: 68%;
}

.water34{
	left: 31.5%;
	top: 56.5%;
}

.water35{
	left: 31%;
	top: 38%;
}

.water36{
	left: 1%;
	top: 1%;
}

.water37{
	left: 92.5%;
	top: 1.5%;
}

.water38{
	left: 1.5%;
	top: 90.5%;
}

.water39{
	left: 93%;
	top: 89%;
}*/